<% provide(:title, 'About') %>
  <h1>About Us</h1>
  <p>
    This project was created by <a href="derekroyse@gmail.com">Derek Royse</a> as part of his senior practicum. 
    The idea for and supervision of this product came from Prof. Lonnie Bowe. 
    
    This site uses the Ruby on Rails framework, with special thanks given to Michael Hartl's tutorial at ---.
    The web scraping features were made possible with Mechanizer.
    
    Ultimate CSS Gradient Generator
  </p>