<% provide(:title, 'About') %>
  <h1>Project Information</h1>
  <div class="about">
      <h2>Author: <a href="mailto:derekroyse@gmail.com">Derek Royse</a></h2>
      <p>This project was created as part of my senior practicum. The primary
      goal was to provide a way for those without access to Concord's MyCU system
      to search the course database. The idea for (and supervision of) this project 
      came from Professor Lonnie Bowe. </p>
      
      <p>This site uses the <a href="http://rubyonrails.org" target="_blank">Ruby on Rails</a> framework, with special thanks given to 
      Michael Hartl's excellent <a href="http://ruby.railstutorial.org">Rails tutorial</a></p>
      
      <p>The web scraping features were made possible with <a href="http://wwwsearch.sourceforge.net/mechanize" target="_blank">Mechanize</a>
      and <a href="http://nokogiri.org" target="_blank">Nokogiri</a>. Finally, the beautiful gradient came from the <a href="http://www.colorzilla.com/gradient-editor" target="_blank">Ultimate CSS Gradient Generator</a>.</p>
  </div>