<% provide(:title, 'Help') %>
  <h3>Inclusive versus Exclusive Search:</h3>
  <p>Searches are inclusive by default. This means they will return results
  that match ANY of your search criteria.</p>
  <p>For example, if you were to search for "bowe" in the instructor field and
  "ENGL" in the subject field, the search would return both Professor Bowe's classes and
  all of the English courses.</p>
  <p>Exclusive search on the other hand returns only results that match ALL of the criteria.</p>
  <p>For example, if you were to repeat the previous search, the search would return nothing, because
  Professor Bowe does not teach English courses. However if you were to search for "bowe" as the instructor
  and "102" for the Room/Bldg number, you would get only the courses Mr. Bowe teaches in SCIEN 102. The search
  'excludes' all results that don't match all of the criteria.</p>
  <br>
    <h3>Section Number Codes</h3>
    <ul>
      <li>Section 01-19 - University Campus Day Classes</li>
      <li>Section 20-29 - Night Classes taught on the university campus (start 4:00 pm or later)</li>
      <li>Section 30-39 - Off Campus Classes</li>
      <li>Section 80-89 - Shared Courses with Bluefield State College at Beckley HEC</li>
      <li>Section 1V, 2V, etc. - Video Conferencing Classes</li>
      <li>Section 1AS, 2AS, etc. - Asynchronous Web Based (access all times within scheduled dates)</li>
      <li>Section 1SY, 2SY, etc. - Synchronous Web Based (specific class times)</li>
      <li>Section 1HW, 2HW, etc. - Hybrid Web (class meeting MAY be required)</li>
    </ul>
  <br>
  <h3>Building Codes</h3>
  <ul>
    <li>CARTER - Carter Center</li>
    <li>FINART - Fine Arts Center</li>
    <li>LIBRARY - Marsh Library</li>
    <li>MARSH - Marsh Hall (Administration Building)</li>
    <li>RAHALL - Rahall Technology Center</li>
    <li>SCIEN - Science Building</li>
    <li>STUCTR - Student Center</li>
    <li>DSTU - Dance Studio</li>
  </ul>
  <br>
  <h3>Campus Codes</h3>
  <ul>
    <li>ATHENS - Athens</li>
    <li>BECKLY - HEC - Beckley Higher Education Center</li>
    <li>LEWISB - Lewisburg</li>
    <li>PIKEVI - Pikeview</li>
    <li>PCTN - Princeton</li>
    <li>SHADYS - Shady Spring</li>
  </ul>
  <br>
  <h3>Fees</h3>
  (Contact Business Office for Current Fee Rates)
  <ul>
    <li>T = Technical Fee</li>
    <li>L = Lab Fee</li>
    <li>C = Clay</li>
    <li>TU = Tutorial Fee</li>
    <li>AT = ATSF Fee</li>
    <li>DS = DSTF</li>    
  </ul>