<% provide(:title, 'Help') %>
  <h1>Help</h1>
  SECTION NUMBER CODES
  
  <ul>
    <li>Section 01-19 - University Campus Day Classes</li>
    <li>Section 20-29 - Night Classes taught on the university campus (start 4:00 pm or later)</li>
    <li>Section 30-39 - Off Campus Classes</li>
    <li>Section 80-89 - Shared Courses with Bluefield State College at Beckley HEC</li>
    <li>Section 1V, 2V, etc. - Video Conferencing Classes</li>
    <li>Section 1AS, 2AS, etc. - Asynchronous Web Based (access all times within scheduled dates)</li>

    <li>Section 1SY, 2SY, etc. - Synchronous Web Based (specific class times)</li>
    <li>Section 1HW, 2HW, etc. - Hybrid Web (class meeting MAY be required)</li>
  </ul>
  
  BUILDING CODES
  <ul>
    <li>CARTER - Carter Center</li>
    <li>FINART - Fine Arts Center</li>
    <li>LIBRARY - Marsh Library</li>
    <li>MARSH - Marsh Hall (Administration Building)</li>
    <li>RAHALL - Rahall Technology Center</li>
    <li>SCIEN - Science Building</li>
    <li>STUCTR - Student Center</li>
    <li>DSTU - Dance Studio</li>
  </ul>
  
  CAMPUS CODES
  <ul>
    <li>ATHENS - Athens</li>
    <li>BECKLY - HEC - Beckley Higher Education Center</li>
    <li>LEWISB - Lewisburg</li>
    <li>PIKEVI - Pikeview</li>
    <li>PCTN - Princeton</li>
    <li>SHADYS - Shady Spring</li>
  </ul>
  
  FEES
  <ul>
    <li>T = Technical Fee</li>
    <li>L = Lab Fee</li>
    <li>C = Clay</li>
    <li>TU = Tutorial Fee</li>
    <li>AT = ATSF Fee</li>
    <li>DS = DSTF</li>    
  </ul>
  
  See Business Office for Current Fee Rates

  </p>