<div class = "center hero-unit">
  <%= image_tag("concord.png", alt: "Concord University") %>
  <br>
  <br>
  <%= link_to "View List of Courses", "#loadingModal", class: "btn btn-large btn-primary", onclick:"window.open('/ConcordCourseSearch/startup', '_self');" %>
</div>

<div id="loadingModal" class="loadingDialog"> 
  <div>
    <a href="#close" title="Close" class="close">X</a>
	<h1>Loading</h1>
	<%= image_tag("loading.gif", alt: "Loading Classes...", class:"img100x100") %>
  </div>
</div>
