@import "bootstrap";
$lightgray: #999;
$darkestgray:#231D1D;
$gold:#D0C203;

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ul {
	list-style-type:none;
}
body {
	line-height: normal;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Universal */
html {
  overflow-y: scroll;
}

body {
  padding-top:60px;
  text-align:center;
}

body.modal-open{
  overflow:hidden;
}

section {
  overflow:auto
}

textarea {
  resize: vertical
}

.center {
  text-align: center
}

.center h1 {
  margin-bottom: 10px
}

/* typography */
h1, h2, h3, h4, h5, h6
{
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align:center;
  font-weight: normal;
  color: $lightgray;
}

p {
 font-size: 1.1em;
 line-height: 1.7em;
}

/* header */
#logo {
 float: left;
 margin-right: 10px;
 font-size: 1.7em;
 color:#fff;
 letter-spacing: -1px;
 padding-top: 9px;
 font-weight: bold;
 line-height: 1;
}

#logo:hover {
 color: #fff;
 text-decoration: none;
}

/* footer */
footer {
  margin-top:45px;
  padding-top:5px;
  border-top:1px solid #eaeaea;
  color: $lightgray;
}

footer a {
  color: #555;
}

footer a:hover{
  color: #222;
}

footer small {
  float:left;
}

footer ul{
  float:right;
  list-style: none;
}

footer ul li {
  float:left;
  margin-left: 10px;
}

/* Forms */
.top{
  border:1px solid maroon;
  width:99.8%;
  height:180px;
  /* Gradient via Ultimate CSS Gradient Generator www.colorzilla.com/gradient-editor/ */
  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

.titles{
  color:$gold;
  height:70px;
  width:60%;
  padding-top:20px;
  float:left;
  text-shadow:0px 2px 1px yellow;
  vertical-align:middle;
}

.forms{
  padding-top:10px;
  color:$gold;
  padding-top:20px;
  height:70px;
  width:40%;
  float:left;
}

input
{
  min-width:220px;
  min-height:30px;
  color:white;
  font-weight:bold;
  font-size:20px;
  background-color:maroon;
}

/* Modal Background  Darkening */
.modalDialog {
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events:none;
  text-align:center;
}

/* Modal Popup-Div */
.modalDialog > div {
  width:auto;
  height:auto;
  display:inline-block;
  position:relative;
  margin:1% auto;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  text-align:center;
  background-color:$lightgray;
  border:2px solid black;
}

.loadingModal{
  width:auto;
}

.loadingModal > img {
 width:100px;
 height:100px;
}

.modalDialog:target{
  opacity:1;
  pointer-events:auto;
}

.search_panel{
  float:left;
  width:auto;
  margin:5px 5px 5px 5px;
}

.search_panel > input{
  width:10px;
  columns:10;
  size:10;
}

.clearLeft{
  clear:left;
}

/* Modal Close button */
.close {
  background: red;
  color: #FFFFFF;
  line-height: 25px;
  position:absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius:12px;
  border-radius: 12px;
  -moz-box-shadow:1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.displayInline{
  display:inline;
  clear:none;
}

.close:hover{
  background: #00d9ff;
}

.clickdiv{
  display:block;
  width: 110px;
  height: 160px;
  border:3px outset black;
  background-color:darkgrey;
}

/* Table */
table{
 width:100%;
}

.table_header {
  background-color:$lightgray;
  font-size:1.0em;
}

td{
  color:black;
  border: 2px solid maroon;
  font-size:0.7em;
  padding:2px;
  vertical-align:middle;
}