<footer class ="footer">
  <small>
    <a href = "http://www.concord.edu">Return to Concord</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %>
    </ul>
  </nav>
</footer>